name: "PR Analytics"
on:
  workflow_dispatch:
    inputs:
      report_date_start:
        description: "Report date start(d/MM/yyyy)"
      report_date_end:
        description: "Report date end(d/MM/yyyy)"

jobs:
  create-report:
    name: "Create report"
    runs-on: ubuntu-latest
    steps:
      - name: "Run script for analytics"
        uses: AlexSim93/pull-request-analytics-action@v4
        with:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }} # In the case of a personal access token, it needs to be added to the repository's secrets and used in this field.
          GITHUB_REPO_FOR_ISSUE: "stats-poc" # Make sure to specify the name of the repository where the issue will be created
          GITHUB_OWNER_FOR_ISSUE: "Venkadeshkissflow" # Make sure to specify the owner of the repository where the issue will be created
          GITHUB_OWNERS_REPOS: "Venkadeshkissflow/stats-poc" # Be sure to list the owner and repository name in the format owner/repo
          CORE_HOURS_START: "9:00"
          CORE_HOURS_END: "19:00"
          TIMEZONE: "Europe/Berlin"
          REPORT_DATE_START: "20/10/2023"
          REPORT_DATE_END: "20/10/2024"
          EXECUTION_OUTCOME: "collection"
      #     webhook: "https://play.kissflow.com/integration/2/Ac4Zg6muao_p/webhook/Abp2b6DDIDj-NivvwZ3kOyDtdbVt0Anl6OTJd-WHUvomofvdyea-t5LVxMelpUjXeTbTnhdRaO73wU7DBQRcA"

      # - name: Access Analytics Data   
      #   run: echo Analytics Data - "${{ steps.pr-analytics.outputs.analytics }}"

      # - name: Export Analytics
      #   run: echo "${{ steps.pr-analytics.outputs.analytics }}" > analytics.json

      # - name: Save Analytics Data
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: pull-request-analytics
      #     path: analytics.json

